#################
## IDEA
#################

# User-specific stuff
.idea/
.idea_modules/
.gradle/
*.iml
*.DS_Store
.run/

# IntelliJ
out/
target/
settings.yaml

techBotSettings.yaml

Archive/

target/
